::-webkit-input-placeholder {
  color: #c0392b;
  font-style: oblique;
}

::-moz-placeholder {
  color: #c0392b;
  font-style: oblique;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #c0392b;
  font-style: oblique;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #c0392b;
  font-style: oblique;
}

html,
body {
  height: 100%;
  margin: 10px;
}

body {
  font: 14px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-weight: normal;
}

h3 {
  color: #333333;
  font-size: 1,2857em;
  margin: 20px 0 10px;

}

.card_validator_widget {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.card_images_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card_image {
  width: 4.9em;
  height: 3.1em;
  margin-right: 0.2857em;
  background-repeat: no-repeat;
  background-size: contain;

  
  -webkit-filter: grayscale(100%); /* Webkit браузеры */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); /* W3C */
  filter: gray; /* IE 6-9 */
}

.card_image.selected {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
  outline-style: outset;
  outline-color: green;
  outline-width: -2px;
 }


[data-id=mir] {
  background-image: url("../img/mir.png");
}

[data-id=americanexpress] {
  background-image: url("../img/american_express_curved.png");
}

[data-id=mastercard] {
  background-image: url("../img/mastercard_curved.png");
}

[data-id=visa] {
  background-image: url("../img/visa_curved.png");
}

.input_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;

}

.card_input {
  height: 2.4286em;
  width: 14em;
  text-indent: 3px;
  margin-top: 12px;
  padding: 6px 12px;
}

.validate_button {
  height: 2.4286e;
  width: 9em;
  font-weight: 900;
  font-size: 17px;
  color: #ffffff;
  margin-top: 12px;
  margin-left: 10px;
  background: #5cb85c;
  padding: 6px 12px;
}

.form_hint {
  background: #000000;
  border-radius: 3px 3px 3px 3px;
  color: #ffffff;
  margin: 2px 4px;
  padding: 3px 6px;
  z-index: 999;
  position: absolute;
}

.form_hint::before {
  content: "\25C0";
  color: #000000;
  position: absolute;
  top: 1px;
  left: -6px;
}

.message_title {
  display: inline-flex;
  margin-top: 10px;
  flex-wrap: nowrap;
}

.result_img {
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: contain;
}

.result_img.valid {
  background-image: url(../img/Yes.svg);
}

.result_img.invalid {
  background-image: url(../img/No.png);
}
